.marquee {
  width: 60%;
  height: 100%;
  white-space: nowrap;
  animation: marquee 12s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}